.banner {
    position: relative;
    &__video {
        width: 100%;
        height: 100vh;
        object-fit: cover;
    }
    &__content {
        position: absolute;
        top: 30%;
        left: 10%;
        z-index: 2;
        @include respond(mobileTablet) {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            width: 100%;
        }
        &-heading {
            color: $color-white;
            font-family: Montserrat;
            font-size: 48px;
            line-height: 1.8;
            font-weight: 700;
            @include respond(mobileTablet) {
                font-size: 36px;
            }
        }
        &-desc {
            color: $color-white;
            font-size: 21px;
            @include respond(mobileTablet) {
                font-size: 18px;
            }
        }
    }
    &__overlay {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 5px;
        background-color: rgba(0, 0, 0, 0.6);
    }

    //banner background:
    &__transform {
        position: relative;
        width: 100%;
        height: 340px;
        margin-top: 120px;
        background: linear-gradient(
            to right bottom,
            #6a3079,
            #485daa,
            #029fb8,
            #02b18e,
            #32b47c
        );
        .banner__content {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            &-heading {
                font-size: 32px;
                @include respond(mobile) {
                    font-size: 18px;
                }
            }
            &-desc {
                font-size: 18px;
                @include respond(mobile) {
                    font-size: 16px;
                }
            }
        }
    }
}
