.btn-trash {
    position: relative;
    text-decoration: none;
    &-icon {
        font-size: 26px;
        color: #3498db;
        &__content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #fff;
        }
    }
}

.btn-add-icon {
    font-size: 32px;
    color: #198754;
}

.button_concept {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    color: $color-white;
    background-color: #f05123;
    padding: 8px 40px;
    margin-top: 20px;
    border-radius: 24px;
    text-transform: uppercase;
    border: none;
    outline: none;
    &:hover {
        color: rgba(255, 255, 255, 0.9);
        opacity: 0.9;
    }

    @include respond(mobile) {
        font-size: 12px;
        padding: 10px;
        margin-top: 6px;
    }
}

.btn-icon-nav {
    display: none;
    @include respond(mobileTablet) {
        display: block;
        background-color: transparent;
        border: none;
        outline: none;
        & i {
            font-size: 24px;
            color: $color-white;
        }
    }
}
