.navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    height: $navbar-height;
    transition: all 0.2s linear;
    &_logo-img {
        height: 32px;
        transform: translateY(-3px);
    }
    .navbar-nav {
        &-list {
            transform: translateX(28px);
        }
        &-item {
            list-style: none;
            padding: 0 20px;
            &-authentication {
                list-style: none;
                padding: 0 16px;
                & a {
                    color: $color-white;
                    font-family: 'PT Sans', sans-serif;
                    font-size: 15px;
                    font-weight: 700;
                    text-decoration: none;
                }
            }
        }
        &-link {
            font-family: 'PT Sans', sans-serif;
            font-size: 14px;
            font-weight: 700;
            color: #fff !important;
            text-transform: uppercase;
            letter-spacing: 1.1px;
            &__dropdown {
                color: #fff;
                text-decoration: none;
                &:hover {
                    opacity: 0.9;
                    color: #f3ebeb !important;
                }
            }
            &:hover {
                color: #e6d9d9 !important;
            }
        }
    }
}

.active.navbar {
    background-color: $color-black;
}
