.user__dropdown {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 320px;
    height: 100vh;
    min-height: 100vh;
    background-color: $color-white;
    box-shadow: 3px 4px 12px rgb(0, 0, 0, 0.5);
    transition: all 0.2s ease;
    z-index: 12;
    &-account {
        display: flex;
        align-items: center;
        padding: 10px 20px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        & img {
            width: 42px;
            height: 42px;
            border-radius: 25px;
        }
        &-name {
            font-size: 16px;
            font-weight: 600;
            margin: 0 92px 0 12px;
        }
        &-close {
            font-size: 26px;
            color: #666;
        }
    }

    &-list {
        padding-left: 0;
        list-style: none;
        margin-top: 10px;
    }
    &-item {
        padding: 16px 28px;
        &:hover {
            background-color: rgba(22, 24, 35, 0.05);
        }
        &__my-course {
            @include respond(mobile) {
                display: none;
            }
        }
    }
    &-link {
        text-decoration: none;
        & span {
            color: #888;
            font-size: 14px;
            font-weight: 500;
        }
        & i {
            color: #64676a;
            padding-right: 20px;
        }
    }
}

//dropdown item on pc
.dropdown-menu.show {
    margin-top: 10px;
    border-radius: 12px;
    .dropdown-item {
        padding: 10px 20px;
        &:hover {
            background-color: rgba(22, 24, 35, 0.05) !important;
        }
    }
    .dropdown-link {
        color: #888;
        font-size: 14px;
        font-weight: 500;
        text-decoration: none;
        & i {
            color: #64676a;
            padding-right: 14px;
        }
    }
}
