<div class="container my-5 py-5">
    <div class="row">
        <div class="col-lg-9">
            <h2>{{course.name}}</h2>
            <p>{{course.description}}</p>
        </div>

        <div class="col-lg-3">
            <div class="card" style="width: 330px">
                <iframe width="330" height="240" src="https://www.youtube.com/embed/{{course.videoId}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="card-body">
                    <h5 class="card-title text-center">MIỄN PHÍ</h5>
                    <div class="text-center">
                       <a href="#" class="btn btn-primary btn-create">ĐĂNG KÝ HỌC</a>
                    </div>
                </div>
                </div>
          </div>
    </div>
</div>