* {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background: #918f8f;
}

body::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.05);
}

.App {
  overflow: hidden;
}

@media (max-width: 46.1875em) {
  .container__my-course {
    display: none;
  }
}

footer {
  width: 100%;
  margin-top: 50px;
  background-color: #000;
}
@media (max-width: 63.9875em) {
  footer .footer_content-row {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
  }
}
@media (max-width: 63.9875em) {
  footer .footer_content-row .footer_content {
    text-align: center;
    padding: 28px 0;
  }
}
footer .footer_content-row .footer_content-heading {
  font-size: 22px;
  color: #fff;
  font-weight: 500;
}
footer .footer_content-row .footer_content-heading-fix {
  margin: 10px 20px;
}
@media (max-width: 63.9875em) {
  footer .footer_content-row .footer_content-heading-fix {
    margin: 0 !important;
  }
}
footer .footer_content-row .footer_content ul {
  padding-left: 0;
  list-style: none;
}
footer .footer_content-row .footer_content ul li {
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  line-height: 22px;
  padding: 6px 0;
}
@media (max-width: 46.1875em) {
  footer .footer_content-row .footer_content ul li {
    font-size: 14px;
  }
}
footer .footer_content-row .footer_content-list {
  margin: 0 20px;
}
@media (max-width: 63.9875em) {
  footer .footer_content-row .footer_content-list {
    margin: 0;
  }
}
footer .footer_content-row .footer_content-input {
  width: 240px;
  height: 40px;
  font-size: 16px;
  background: #272727;
  border: none;
  line-height: 1.15;
  border-radius: 20px;
  padding: 0 20px;
  margin: auto;
  color: rgba(255, 255, 255, 0.6);
  margin: a;
}
footer .footer_content-row .footer_content-btn {
  width: 132px;
  font-size: 15px;
  padding: 7px 20px;
  background-color: #b80257;
  margin: 10px auto;
}
@media (max-width: 63.9875em) {
  footer .footer_content-row .footer_content-btn {
    margin: 16px auto;
  }
}

.card-course-heading h2 {
  font-size: 32px;
  font-weight: 700;
  margin-top: 30px;
}
@media (max-width: 46.1875em) {
  .card-course-heading h2 {
    font-size: 28px;
  }
}
@media (max-width: 20.6em) {
  .card-course-heading h2 {
    font-size: 24px;
  }
}
.card-course-heading div {
  padding: 16px 0;
}
.card-course-heading div p {
  font-size: 18px;
  margin: 0 0 0 4px;
}
.card-course-heading div p span {
  font-size: 18px;
  font-weight: 500;
}
@media (max-width: 46.1875em) {
  .card-course-heading div p span {
    font-size: 16px;
  }
}
@media (max-width: 20.6em) {
  .card-course-heading div p span {
    font-size: 12px;
  }
}
@media (max-width: 46.1875em) {
  .card-course-heading div p {
    font-size: 14px;
    margin: 0 0 0 2px;
  }
}
@media (max-width: 20.6em) {
  .card-course-heading div p {
    font-size: 11px;
  }
}
.card-course-description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
.card-course-link {
  text-decoration: none;
}

.card-img-top {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

@media (max-width: 63.9875em) {
  .card__information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.card__information-content {
  text-align: center;
}
.card__information-img {
  width: 76px;
}
.card__information-amount {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  background-image: linear-gradient(90deg, #0cb7d1, #32b47c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: translateY(-3px);
}
@media (max-width: 46.1875em) {
  .card__information-amount {
    font-size: 20px;
  }
}
.card__information-desc {
  font-size: 20px;
  font-weight: 600;
  color: #000;
  margin-left: 4px;
  flex-shrink: 0;
}
@media (max-width: 46.1875em) {
  .card__information-desc {
    font-size: 16px;
  }
}

@media (max-width: 63.9875em) {
  .show__course-row {
    flex-direction: column-reverse;
  }
}
.show__course-col:nth-child(2) {
  margin-bottom: 80px;
}
@media (max-width: 63.9875em) {
  .show__course-col:nth-child(2) .card {
    width: 100% !important;
  }
  .show__course-col:nth-child(2) iframe {
    width: 100% !important;
  }
}
.show__course-achievement h3 {
  margin-top: 40px;
}
.show__course-achievement-list {
  padding-left: 0;
  margin-top: 20px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.show__course-achievement-item {
  width: 400px;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
.show__course-achievement-item svg {
  color: #f05123;
  width: 14px;
  height: 14px;
}
.show__course-achievement-item div {
  padding-left: 10px;
}
.show__course-free {
  font-size: 28px;
  font-weight: 400;
  color: #f05123;
}
@media (max-width: 63.9875em) {
  .show__course-free {
    font-size: 26px;
  }
}
.show__course-btn {
  font-size: 14px !important;
  display: flex;
  justify-content: center;
  margin: auto;
  text-decoration: none;
  margin-top: 20px !important;
  padding: 10px 0 !important;
  width: 200px;
}
.show__course-list {
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  padding-left: 0;
  list-style: none;
}
.show__course-item {
  position: relative;
  color: #494949;
  display: flex;
  align-items: center;
  padding-left: 35px;
  margin-bottom: 14px;
}
.show__course-item svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
}
.show__course-item div {
  font-size: 14px;
  line-height: 16px;
}

.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  height: 52px;
  transition: all 0.2s linear;
}
.navbar_logo-img {
  height: 32px;
  transform: translateY(-3px);
}
.navbar .navbar-nav-list {
  transform: translateX(28px);
}
.navbar .navbar-nav-item {
  list-style: none;
  padding: 0 20px;
}
.navbar .navbar-nav-item-authentication {
  list-style: none;
  padding: 0 16px;
}
.navbar .navbar-nav-item-authentication a {
  color: #fff;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
}
.navbar .navbar-nav-link {
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #fff !important;
  text-transform: uppercase;
  letter-spacing: 1.1px;
}
.navbar .navbar-nav-link__dropdown {
  font-size: 15px;
  color: #fff;
  text-decoration: none;
}
.navbar .navbar-nav-link__dropdown:hover {
  opacity: 0.9;
  color: #f3ebeb !important;
}
.navbar .navbar-nav-link:hover {
  color: #e6d9d9 !important;
}

.active.navbar {
  background-color: #000;
}

.user__dropdown {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 320px;
  height: 100vh;
  min-height: 100vh;
  background-color: #fff;
  box-shadow: 3px 4px 12px rgba(0, 0, 0, 0.5);
  transition: all 0.2s ease;
  z-index: 12;
}
.user__dropdown-account {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.user__dropdown-account img {
  width: 42px;
  height: 42px;
  border-radius: 25px;
}
.user__dropdown-account-name {
  font-size: 16px;
  font-weight: 600;
  margin: 0 92px 0 12px;
}
.user__dropdown-account-close {
  font-size: 26px;
  color: #666;
}
.user__dropdown-list {
  padding-left: 0;
  list-style: none;
  margin-top: 10px;
}
.user__dropdown-item {
  padding: 16px 28px;
}
.user__dropdown-item:hover {
  background-color: rgba(22, 24, 35, 0.05);
}
@media (max-width: 46.1875em) {
  .user__dropdown-item__my-course {
    display: none;
  }
}
.user__dropdown-link {
  position: relative;
  text-decoration: none;
}
.user__dropdown-link span {
  color: #888;
  font-size: 14px;
  font-weight: 500;
  padding-left: 36px;
}
.user__dropdown-link i {
  position: absolute;
  top: 0;
  left: 4px;
  color: #64676a;
  padding-right: 20px;
}

.dropdown-menu.show {
  margin-top: 10px;
  border-radius: 12px;
}
.dropdown-menu.show .dropdown-item {
  padding: 10px 20px;
}
.dropdown-menu.show .dropdown-item:hover {
  background-color: rgba(22, 24, 35, 0.05) !important;
}
.dropdown-menu.show .dropdown-link {
  color: #888;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
}
.dropdown-menu.show .dropdown-link i {
  color: #64676a;
  padding-right: 14px;
}

.user-avatar {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin-right: 4px;
}

.btn-trash {
  position: relative;
  text-decoration: none;
}
.btn-trash-icon {
  font-size: 26px;
  color: #3498db;
}
.btn-trash-icon__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

.btn-add-icon {
  font-size: 32px;
  color: #198754;
}

.button_concept {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  background-color: #f05123;
  padding: 8px 40px;
  margin-top: 20px;
  border-radius: 24px;
  text-transform: uppercase;
  border: none;
  outline: none;
}
.button_concept:hover {
  color: rgba(255, 255, 255, 0.9);
  opacity: 0.9;
}
@media (max-width: 46.1875em) {
  .button_concept {
    font-size: 12px;
    padding: 10px;
    margin-top: 6px;
  }
}

.btn-icon-nav {
  display: none;
}
@media (max-width: 63.9875em) {
  .btn-icon-nav {
    display: block;
    background-color: transparent;
    border: none;
    outline: none;
  }
  .btn-icon-nav i {
    font-size: 24px;
    color: #fff;
  }
}

.column_table-time {
  width: 205px;
  height: 56px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.banner {
  position: relative;
}
.banner__video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.banner__content {
  position: absolute;
  top: 30%;
  left: 10%;
  z-index: 2;
}
@media (max-width: 63.9875em) {
  .banner__content {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
  }
}
.banner__content-heading {
  color: #fff;
  font-family: Montserrat;
  font-size: 48px;
  line-height: 1.8;
  font-weight: 700;
}
@media (max-width: 63.9875em) {
  .banner__content-heading {
    font-size: 32px;
  }
}
.banner__content-desc {
  color: #fff;
  font-size: 21px;
}
@media (max-width: 63.9875em) {
  .banner__content-desc {
    font-size: 18px;
  }
}
.banner__overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 5px;
  background-color: rgba(0, 0, 0, 0.6);
}
.banner__transform {
  position: relative;
  width: 100%;
  height: 340px;
  margin-top: 120px;
  background: linear-gradient(to right bottom, #6a3079, #485daa, #029fb8, #02b18e, #32b47c);
}
.banner__transform .banner__content {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.banner__transform .banner__content-heading {
  font-size: 32px;
}
@media (max-width: 46.1875em) {
  .banner__transform .banner__content-heading {
    font-size: 18px;
  }
}
.banner__transform .banner__content-desc {
  font-size: 18px;
}
@media (max-width: 46.1875em) {
  .banner__transform .banner__content-desc {
    font-size: 16px;
  }
}

.founder_f8-container {
  margin-top: 60px;
}
@media (max-width: 46.1875em) {
  .founder_f8-container .founder_f8-row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 63.9875em) {
  .founder_f8-container .founder_f8-col {
    align-self: flex-start;
  }
}
.founder_f8-container .founder_f8-image {
  width: 100%;
  border-radius: 12px;
}
.founder_f8-container .founder_f8-description blockquote {
  margin: 0;
  font-family: "Lora", serif;
  font-style: italic;
  font-size: 22px;
  line-height: 1.6;
}
@media (max-width: 46.1875em) {
  .founder_f8-container .founder_f8-description blockquote {
    font-size: 18px;
  }
}
@media (max-width: 46.1875em) {
  .founder_f8-container .founder_f8-description {
    text-align: center;
    margin: 20px !important;
  }
}
.founder_f8-container .founder_f8-btn {
  background-color: #1dbfaf;
  background-image: linear-gradient(70.06deg, #2cccff -5%, #22dfbf 106%);
}
@media (max-width: 46.1875em) {
  .founder_f8-container .founder_f8-btn {
    margin-top: 16px;
  }
}

/*# sourceMappingURL=app.css.map */
