<div id="carouselId" class="carousel slide mt-5" data-bs-ride="carousel">
    <ol class="carousel-indicators">
        <li data-bs-target="#carouselId" data-bs-slide-to="0" class="active"></li>
        <li data-bs-target="#carouselId" data-bs-slide-to="1"></li>
        <li data-bs-target="#carouselId" data-bs-slide-to="2"></li>
        <li data-bs-target="#carouselId" data-bs-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
            <img src="https://www.industrialempathy.com/img/remote/ZiClJf-1920w.jpg" alt="First slide">
            <div class="carousel-caption d-none d-md-block">
                <h3>Title 1</h3>
                <p>Description 1</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://ix-www.imgix.net/hp/snowshoe.jpg?q=70&w=1800&auto=compress%2Cenhance&fm=jpeg" alt="Second slide">
            <div class="carousel-caption d-none d-md-block">
                <h3>Title 2</h3>
                <p>Description 2</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://global-uploads.webflow.com/5ef5480befd392489dacf544/5f9f5e5943de7e69a1339242_5f44a7398c0cdf460857e744_img-image.jpeg" alt="Third slide">
            <div class="carousel-caption d-none d-md-block">
                <h3>Title 3</h3>
                <p>Description 3</p>
            </div>
        </div>

        <div class="carousel-item">
            <img src="https://ix-www.imgix.net/hp/snowshoe.jpg?q=70&w=1800&auto=compress%2Cenhance&fm=jpeg" alt="Second slide">
            <div class="carousel-caption d-none d-md-block">
                <h3>Title 4</h3>
                <p>Description 4</p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselId" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselId" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
</div>